:root {
  --board-size: min(100vw-300, 100vh);
  --square-size: calc(var(--board-size) / 8);
  --sidebar-min-width: 300;
  --sidebar-width: 300;
  --theme-light-color: #D9E4E8;
  --theme-dark-color: #7498AE;
  --font-family: "Montserrat", "Arial", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

html, body {
  font-family: var(--font-family);
  margin: 0px;
}

.window-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

h1, h2, h3, p {
  font-family: var(--font-family);
  margin: 0px;
  color: var(--theme-light-color);
}

.board-container {
  flex: 3;
  aspect-ratio: 1 / 1;
  justify-content: right; 
  align-items: center;    
  text-align: center;  
}

 
.todo_color-classic {  
  --dark-color: #C5AB8A;
  --light-color: #74543B;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  flex: 2;
  background-color: black;
  padding: 0px;
  height: 100%;
  margin-left: 4px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  height: 100vh;
}

.sidebar-top {
  flex: 1;
  overflow-y: scroll;  
  overflow-x: hidden;
/*  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;  */
  scrollbar-width: thin; 
  scroll-behavior: smooth;
}

.sidebar-div {
    width: 100%;
    border-bottom: 1px solid #fcc;
    font-size: 12px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;

  }

.move-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 11pt;
  padding-left: 8px;
  padding-right: 8px;
}
.move-count {
  flex: 1;
}
.move-half {
  flex: 2;
  font-style: italic;
}
.move-score {
  flex: 5;
}

.sidebar-bottom {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  padding: 4px;
}

  .sidebar-button-container {
    display: 3;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 4px;
    padding-left: 20px;

  }
   
    .sidebar-button {
      flex: 1;
      padding: 2px;
      cursor: pointer;
      background-color: black;
      max-width: 40px;
      height: 100%;
      justify-content: center;
      border-radius: 8px;
      border: none;
    }
    .sidebar-button p {
      margin: 0px;
      font-weight: 600;
      color: white;
    }
    
    .sidebar-button .double {
      transform: translateY(-20px);
      font-size: 36pt;
    }
    
    .sidebar-button .arrow {
       transform: translateY(-20px);
     font-size: 24pt;
    }
    
    .sidebar-button button:hover {
      background-color: #007BFF;
      color: white;
    }

.sidebar-score {
  flex: 1;
  padding-right: 20px;
  height: 100%;
  font-size: 24pt;
  color: green;
}


/* Dynamic squares combinw file and rank for board position */
.rank8 {  top: calc(0 * var(--square-size)); }
.rank7 {  top: calc(1 * var(--square-size)); }
.rank6 {  top: calc(2 * var(--square-size)); }
.rank5 {  top: calc(3 * var(--square-size)); }
.rank4 {  top: calc(4 * var(--square-size)); }
.rank3 {  top: calc(5 * var(--square-size)); }
.rank2 {  top: calc(6 * var(--square-size)); }
.rank1 {  top: calc(7 * var(--square-size)); }

.file-a {  left: calc(0 * var(--square-size)); }
.file-b {  left: calc(1 * var(--square-size)); }
.file-c {  left: calc(2 * var(--square-size)); }
.file-d {  left: calc(3 * var(--square-size)); }
.file-e {  left: calc(4 * var(--square-size)); }
.file-f {  left: calc(5 * var(--square-size)); }
.file-g {  left: calc(6 * var(--square-size)); }
.file-h {  left: calc(7 * var(--square-size)); }

.square {
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
}

.drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.2);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.check-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.click-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.piece {
  top: 0;
  left: 0;
  width: var(--square-size);
  height: var(--square-size);
  z-index: 10;
  cursor: grab;
  pointer-events = auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 0px;
  padding: 0px;
}

    .drop-zone {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
    }
    .drop-zone.over {
      border-color: #666;
      background-color: #e3e3e3;
    }