:root {
  --board-size: min(100vw-300, 100vh);
  --square-size: calc(var(--board-size) / 8);
  --sidebar-min-width: 300;
  --sidebar-width: 300;
  --theme-light-color: #D9E4E8;
  --theme-dark-color: #7498AE;
  --font-family: "Montserrat", "Arial", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

html, body, h1, h2, h3, p {
  font-family: var(--font-family);
  color: var(--theme-light-color);
  margin: 0px;
}

.window-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.board-container {
  flex: 3;
  aspect-ratio: 1 / 1;
  max-width: var(--board-size);
  max-height: var(--board-size);
  display: absolute;
  justify-content: right; 
  align-items: center;    
  text-align: center;      
}


.board,.board-image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  align-items: center;   
  text-align: center;   
  z-index: -1;
}
   
.todo_color-classic {  
  --dark-color: #C5AB8A;
  --light-color: #74543B;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


    .transitionImage {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--square-size);
      height: var(--square-size);
   }
    
    .transitionFrame {
      position: absolute;
      width: var(--board-size);
      height: var(--board-size);
    }
    
    .checkSquare {
      position: absolute;
      width: var(--square-size);
      height: var(--square-size);
      background-color: red;
      opacity: 0.5;
      visibility: hidden;
    }
    

  .rounded-textbox {
    width: 100%;
    padding: 8px;
    border: 1px solid #fcc;   /* Border with light gray color */
    background-color:  var(--theme-dark-color);
      border-radius: 5px;
    font-size: 16px;          /* Font size for the text */
    outline: none;            /* Remove the default focus outline */
  }

  /* Add focus effect for better UX */
  .rounded-textbox:focus {
    border-color: #3498db;    /* Change border color on focus */
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5); /* Highlight effect */
  }
  

.sidebar {
/*  flex: 0 0 300px; */
  flex: 2;
  background-color: black;
  padding: 0px;
  height: 100%;
  margin-left: 4px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  height: 100vh;
}

.sidebar-top {
  flex: 1;
  overflow-y: scroll;  
  overflow-x: hidden;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scrollbar-width: thin; 
}

.sidebar-div {
    width: 100%;
    border-bottom: 1px solid #fcc;
    font-size: 12px;
    outline: none;
    padding: 8px;
  }

.sidebar-bottom {
  height: 40px;
  justify-content: center;
  padding: 4px;
}

  .sidebar-button-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 4px;
  }
   
    .sidebar-button {
      flex: 1;
      padding: 2px;
      cursor: pointer;
      background-color: black;
      max-width: 40px;
      height: 100%;
      justify-content: center;
      border-radius: 8px;
      border: none;
    }
    .sidebar-button p {
      margin: 0px;
      font-weight: 600;
      color: white;
    }
    
    .sidebar-button .double {
      transform: translateY(-20px);
      font-size: 36pt;
    }
    
    .sidebar-button .arrow {
       transform: translateY(-6px);
     font-size: 24pt;
    }
    
    .sidebar-button button:hover {
      background-color: #007BFF;
      color: white;
    }


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Dynamic squares combinw file and rank for board position */
.rank8 {  top: calc(0 * var(--square-size)); }
.rank7 {  top: calc(1 * var(--square-size)); }
.rank6 {  top: calc(2 * var(--square-size)); }
.rank5 {  top: calc(3 * var(--square-size)); }
.rank4 {  top: calc(4 * var(--square-size)); }
.rank3 {  top: calc(5 * var(--square-size)); }
.rank2 {  top: calc(6 * var(--square-size)); }
.rank1 {  top: calc(7 * var(--square-size)); }

.file-a {  left: calc(0 * var(--square-size)); }
.file-b {  left: calc(1 * var(--square-size)); }
.file-c {  left: calc(2 * var(--square-size)); }
.file-d {  left: calc(3 * var(--square-size)); }
.file-e {  left: calc(4 * var(--square-size)); }
.file-f {  left: calc(5 * var(--square-size)); }
.file-g {  left: calc(6 * var(--square-size)); }
.file-h {  left: calc(7 * var(--square-size)); }

.square {
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
}

.piece {
  top: 0;
  left: 0;
  width: var(--square-size);
  height: var(--square-size);
  z-index: 4;
}
